- js('slider')
#loopedSlider.clearfix
  .sliders
    .slides
      %div= image_tag('/sliders/slider_1.jpg', :width =>'870', :height =>'370')
      %div= image_tag('/sliders/slider_2.jpg', :width =>'870', :height =>'370')
      %div= image_tag('/sliders/slider_3.jpg', :width =>'870', :height =>'370')
      %div= image_tag('/sliders/slider_4.jpg', :width =>'870', :height =>'370')
      %div= image_tag('/sliders/slider_5.jpg', :width =>'870', :height =>'370')
  %ul.pagination
    %li= link_to image_tag('/sliders/slider_1-1.png'), '#'
    %li= link_to image_tag('/sliders/slider_2-1.png'), '#'
    %li= link_to image_tag('/sliders/slider_3-1.png'), '#'
    %li= link_to image_tag('/sliders/slider_4-1.png'), '#'
    %li= link_to image_tag('/sliders/slider_5-1.png'), '#'

%div= image_tag('logo.gif',:style=>'margin-bottom:8px;')

#content.fl
  %ul.img_forward.clearfix
    %li.catalog.fl= link_to image_tag('index_catalog.gif'), wines_path
    %li.club.fr= link_to image_tag('index_club.gif'), forums_path
  %hr{:size =>'1', :color =>'#CCCCCC'}
  .clearfix
  #monocommunity.clearfix
    %h3
      %a{:href =>'#'}
        %img{:src =>'/images/tmp/images_05.gif', :class =>'linkimg'}
        %img{:src =>'/images/linktext.gif', :class =>'linktext'}
    %p 用户能便捷地找到喜爱的葡萄酒，并且与朋友们分享美酒人生
  .module-links
    %ul
      %li.fl
        = link_to image_tag('module_1.gif'), wikis_path
        %p 加入杯杯干，寻找你的酒友，建立你的酒友圈子，分享你的酒品人生！
      %li.fr
        = link_to image_tag('module_2.gif'), wikis_path
        %p 加入杯杯干，寻找你的酒友，建立你的酒友圈子，找到你喜爱的酒！
      %li.fl
        = link_to image_tag('module_3.gif'), wikis_path
        %p 加入杯杯干，寻找你的酒友，建立你的酒友圈子，了解你想要的酒！  
      %li.fr
        = link_to image_tag('module_4.gif'), wikis_path
        %p 加入杯杯干，寻找你的酒友，建立你的酒友圈子，分享你的酒品人生！
      %li.fl
        = link_to image_tag('module_5.gif'), wikis_path
        %p 加入杯杯干，寻找你的酒友，建立你的酒友圈子，购买你想要的酒！
    
#rich-sidebar.fr.clearfix
  #thin-sidebar.fr
    %ul.img-ads-links
      %li= link_to image_tag('tmp/images_06.gif'), '#'
      - (1..9).each do |i|
        %li= link_to image_tag("tmp/links0#{i}.gif"), '#'    
  #thin-sidebar.fl
    .fsbox
      = image_tag('fast_search_title.gif', :class =>'title')
      = image_tag('fast_search_text.gif', :class =>'desc')
      %form{:id =>'fsearch', :action => '#', :method => 'get'}
        %p
          %input{:type =>'text', :name => 'keywords', :size =>'10'}
          %a{:href =>"javascript:$('#fsearch').submit();"}
            %img{:src =>'/images/small_search.png', :style =>'margin-left: 5px;'}
        %p
          = link_to image_tag('fast_search_link.gif'), wines_path, :class =>'custom'
          = link_to image_tag('help.gif'), '#', :class =>'help'
    .wineries
      %ul
        %li
          %p= link_to '美酒仙境 —— 玛歌酒庄', '#', :title =>'Chateau Margaux'
          = link_to image_tag('/images/wineries/56-desc.jpg', :height => '100'), '#', :title =>'Chateau Margaux'
        %li.line
        %li
          %p= link_to '美酒仙境 —— 玛歌酒庄', '#', :title =>'Chateau Margaux'
          = link_to image_tag('/images/wineries/56-desc.jpg', :height => '100'), '#', :title =>'Chateau Margaux'
        %li.last
    .regions
      %h1= link_to '法国 France', '#'
      %ul
        %li= link_to '波尔多 Bordeaux', '#', :title => '波尔多 Bordeaux'
        %li= link_to '勃艮第 Burgundy', '#', :title => '勃艮第 Burgundy'
        %li= link_to '香槟区 Champagne', '#', :title => '香槟区 Champagne'
        %li= link_to '罗纳河谷 Rhone Valley', '#', :title => '罗纳河谷 Rhone Valley'
      %h1= link_to '意大利 Italy', '#'
      %ul
        %li= link_to '托斯卡纳 Tuscany', '#', :title => '托斯卡纳 Tuscany'
        %li= link_to '皮埃蒙特 Piedmont', '#', :title => '皮埃蒙特 Piedmont'
        %li= link_to '威尼托 Veneto', '#', :title => '威尼托 Veneto'
        %li= link_to '撒丁岛 Sardinia', '#', :title => '撒丁岛 Sardinia'

:javascript
  $(function(){
  	$('#loopedSlider').loopedSlider({
  		autoStart: 3000,
      restart: 5000
  	});
  });