- js('slider')
#loopedSlider.clearfix
  .sliders
    .slides
      %div= image_tag('/sliders/slider_1.jpg', :width =>'870', :height =>'370')
      %div= image_tag('/sliders/slider_2.jpg', :width =>'870', :height =>'370')
      %div= image_tag('/sliders/slider_3.jpg', :width =>'870', :height =>'370')
      %div= image_tag('/sliders/slider_4.jpg', :width =>'870', :height =>'370')
      %div= image_tag('/sliders/slider_5.jpg', :width =>'870', :height =>'370')
  %ul.pagination
    %li= link_to image_tag('/sliders/slider_1-1.png'), '#'
    %li= link_to image_tag('/sliders/slider_2-1.png'), '#'
    %li= link_to image_tag('/sliders/slider_3-1.png'), '#'
    %li= link_to image_tag('/sliders/slider_4-1.png'), '#'
    %li= link_to image_tag('/sliders/slider_5-1.png'), '#'

%div= image_tag('logo.gif',:style=>'margin-bottom:8px;')

#content.fl

#rich-sidebar.fr.clearfix
  #thin-sidebar.fr
    %ul.img-ads-links
      %li= link_to image_tag('tmp/images_06.gif'), '#'
      %li= link_to image_tag('tmp/links01.gif'), '#'
      %li= link_to image_tag('tmp/links02.gif'), '#'
      %li= link_to image_tag('tmp/links03.gif'), '#'
      %li= link_to image_tag('tmp/links04.gif'), '#'
      %li= link_to image_tag('tmp/links05.gif'), '#'
      %li= link_to image_tag('tmp/links06.gif'), '#'
      %li= link_to image_tag('tmp/links07.gif'), '#'
      %li= link_to image_tag('tmp/links08.gif'), '#'
      %li= link_to image_tag('tmp/links09.gif'), '#'
  #thin-sidebar.fl
    .fsbox
      = image_tag('fast_search_title.gif', :class =>'title')
      = image_tag('fast_search_text.gif', :class =>'desc')
      %form{:id =>'fsearch', :action => '#', :method => 'get'}
        %p
          %input{:type =>'text', :name => 'keywords', :size =>'10'}
          %a{:href =>"javascript:$('#fsearch').submit();"}
            %img{:src =>'/images/small_search.png', :style =>'margin-left: 5px;'}
        %p
          = link_to image_tag('fast_search_link.gif'), catalogs_path, :class =>'custom'
          = link_to image_tag('help.gif'), '#', :class =>'help'
    .wineries
      %ul
        %li
          %p= link_to '美酒仙境 —— 玛歌酒庄', '#', :title =>'Chateau Margaux'
          = link_to image_tag('/images/wineries/56-desc.jpg', :height => '100'), '#', :title =>'Chateau Margaux'
        %li.line
        %li
          %p= link_to '美酒仙境 —— 玛歌酒庄', '#', :title =>'Chateau Margaux'
          = link_to image_tag('/images/wineries/56-desc.jpg', :height => '100'), '#', :title =>'Chateau Margaux'
        %li.last
    .regions
      %h1= link_to '法国 France', '#'
      %ul
        %li= link_to '波尔多 Bordeaux', '#', :title => '波尔多 Bordeaux'
        %li= link_to '勃艮第 Burgundy', '#', :title => '勃艮第 Burgundy'
        %li= link_to '香槟区 Champagne', '#', :title => '香槟区 Champagne'
        %li= link_to '罗纳河谷 Rhone Valley', '#', :title => '罗纳河谷 Rhone Valley'
      %h1= link_to '意大利 Italy', '#'
      %ul
        %li= link_to '托斯卡纳 Tuscany', '#', :title => '托斯卡纳 Tuscany'
        %li= link_to '皮埃蒙特 Piedmont', '#', :title => '皮埃蒙特 Piedmont'
        %li= link_to '威尼托 Veneto', '#', :title => '威尼托 Veneto'
        %li= link_to '撒丁岛 Sardinia', '#', :title => '撒丁岛 Sardinia'
  

:javascript
  $(function(){
  	$('#loopedSlider').loopedSlider({
  		autoStart: 3000,
      restart: 5000
  	});
  });