.reg
  %h1= image_tag("reg_title.gif")
  = error_messages_for :user
  - form_for @user,:user, :url => account_path, :html=>{:class =>'bg'} do |f|
    %table{:cellspacing=>0, :cellpadding=>0,:border=>0}
      %tr
        %th{:width =>150}= t("account.login")
        %td= f.text_field :login      
      %tr
        %th= t("account.name")
        %td= f.text_field :name      
      %tr
        %th= t("account.email")
        %td= f.text_field :email      
      %tr
        %th= t("account.password")
        %td= f.text_field :password
      %tr
        %th= t("account.password_confirm")
        %td= f.text_field :password_confirmation
    .btns.clearfix
      .accept
        = f.check_box :terms_of_service
        我已接受本站协议
      .btn= image_submit_tag("regbtn.gif") 