%h1= t("account.setting")
%br/
%ul.tabs
  %li= link_to t("account.personal_info"),  account_path
  %li= link_to t("account.upload_avatar"), upload_avatar_path
  %li.current= link_to t("account.change_password"), change_password_path
.tabs-container
  = error_messages_for :user
  - form_for :user,:html=>{:multipart => true, :class =>'bg'} do |f|
    .form-row
      %label.required= t("account.old_password")
      %input{:type => 'password', :name => 'old_password', :size => 30, :value => nil}
    %hr.split
  
    .form-row
      %label.required= t("account.password")
      = f.password_field :password
    %hr.split

    .form-row
      %label.required= t("account.password_confirm")
      = f.password_field :password_confirmation
    %hr.split

    .form-btn
      = f.submit t("g.update")