.input
  %h2= Grape.human_attribute_name(:name_cn)
  = f.text_field :name_cn,  :class => 'text'
.input
  %h2= Grape.human_attribute_name(:name_en)
  = f.text_field :name_en,  :class => 'text'
.input
  %h2= Grape.human_attribute_name(:alias)
  = f.text_field :alias,  :class => 'text'  
.input
  %h2= Grape.human_attribute_name(:smell)
  = f.text_field :smell,  :class => 'text'
.textarea
  %h2= Grape.human_attribute_name(:description)
  = f.text_area :description, :rows => 4, :cols => 53, :style => 'width:80%'
.input
  %h2 
    = Grape.human_attribute_name(:avatar)
    %span= t('g.img_limited')
  = f.file_field  :avatar