#board
  #panel
    .caption
      %h1
        = t('admin.action.resource_edit', :resource => Grape.human_name)
        %span= link_to t('admin.action.return_to_resource_list', :resource => Grape.human_name),  admin_grapes_path
    .body
      = error_messages_for :grape
      - form_for @grape, :url => admin_grape_path(@grape), :method => :put, :html => {:multipart => true} do |f|
        = render :partial => "form", :locals => {:f => f, :grape => @grape}
        .submit
          = f.submit t("admin.button.update", :resource => Grape.human_name)
  #panel_bot
