#content
  .caption
    %h1
      = t('admin.caption.resource_list', :resource => Grape.human_name)
      %span= link_to t('admin.action.resource_new', :resource => Grape.human_name),  new_admin_grape_path
  .body
    %table{:id => 'myTable', :width => '100%'}
      %thead
        %tr
          %th{:width => "2%"}= check_box_tag 'all'
          %th{:width => "2%"}= Grape.human_attribute_name(:avatar)
          %th= Grape.human_attribute_name(:name_cn)
          %th{:width => "20%"}= Grape.human_attribute_name(:alias)
          %th{:width => "20%"}= Grape.human_attribute_name(:smell)
          %th{:width => "20%"}= Grape.human_attribute_name(:description)
          %th{:width => "16%"}= t('g.action')
      - unless @grapes.blank?
        - @grapes.each do |grape|
          %tr
            %td= check_box_tag 'all'
            %td= image_tag grape.avatar.url(:thumb), :class => "avatar"
            %td
              %p= grape.name_cn
              %p= grape.name_en
            %td= grape.alias
            %td= grape.smell
            %td= strip_tags(grape.description).truncate(25)
            %td
              = link_to t('g.edit'), edit_admin_grape_path(grape)
              = link_to t('g.delete'), admin_grape_path(grape), :method => :delete, :confirm => t('g.are_you_sure')
      - else
        %tr
          %td{:colspan => 6}= t('g.no_entry')
#content_bot