
%ul
  %li= link_to '商品管理', '#', :class => 'active'
  %li= link_to '拍卖管理', '#'
  %li= link_to '订单管理', '#'
  %li= link_to '供应商管理', '#'
  %li= link_to '商品分类管理', '#'
  %li= link_to '虚拟分类管理', '#', :class => 'last'
  