#content
  .caption
    %h1
      = t('admin.caption.resource_list', :resource => Winery.human_name)
      %span= link_to t('admin.action.resource_new', :resource => Winery.human_name),  new_admin_winery_path
  .body
    %table{:id => 'myTable'}
      %thead
        %tr
          %th{:width => "2%"}= check_box_tag 'all'
          %th= Grape.human_attribute_name(:name_cn)
          %th{:width => "20%"}= Grape.human_attribute_name(:name_en)
          %th{:width => "20%"}= Grape.human_attribute_name(:alias_cn)
          %th{:width => "20%"}= Grape.human_attribute_name(:smell)
          %th{:width => "16%"}= t('g.action')
      %tbody
        - unless @grapes.blank?
          - @grapes.each do |grape|
            %tr
              %td= check_box_tag 'all'
              %td= grape.name_cn
              %td= grape.name_en
              %td= grape.alias_cn
              %td= grape.smell
              %td
        - else
          %tr
            %td{:colspan => 6}= t('g.no_entry')
#content_bot