.login
  %h1= image_tag("login_title.gif")
  = error_messages_for :user_session
  - form_for @user_session, :url => user_session_path(:to => params[:to]), :html=>{:class =>'rich-gray-border'} do |f|
    %table
      %tr
        %td{:colspan=>2}= image_tag('member_login.gif')
      %tr
        %td 用户名
        %td= f.text_field :login
      %tr
        %td 密码
        %td= f.password_field :password        
      %tr
        %td &nbsp;
        %td
          = image_submit_tag("login_btn.gif")

.reg_desc
  .rich-gray-border
    %h1= image_tag("reg_title_1.gif")
    %h2= link_to image_tag("reg_title_2.gif"), signup_url
    .txt
      = image_tag("reg_title_3.gif")
      %ul
        %li 探索最大的中文葡萄酒数据库，找到适合你的那一支，比较数个主流葡萄酒销售平台的价格提升你的购酒体验。
        %li 记录分享你的试酒感受，阅读专业人士和爱好者的酒评，结交斛朋酒友。
        %li 阅读评论最新、最IN的葡萄酒，和时尚生活的新闻资讯、博客美文。
        %li 功能强大且易用的在线酒簿管理工具，管理分享你的私人酒藏和Wish List。