!!! Strict
%html{ html_attrs("en_us") }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title= t('admin.title')
    = stylesheet_link_tag('bbg_admin')
    = javascript_include_tag('jquery','bbg_admin')
    = yield :css
    = yield :js
  %body
    #header
      #head_wrap
        #logo= link_to t('admin.title'), '#'
        #nav
          %ul
            - tabs_tag(:builder => NavsTabBuilder::AdminTabs) do |tab|
              = tab.dashboard t("admin.menu.dashboard"),  admin_dashboards_path
              = tab.wines     t("admin.menu.wines"),   admin_wines_path
              = tab.contents  t("admin.menu.contents"), admin_contents_path
              = tab.forums    t("admin.menu.forums"),  admin_forums_path
              = tab.products  t("admin.menu.products"),   admin_products_path
              = tab.users     t("admin.menu.users"),   admin_users_path
              = tab.settings  t("admin.menu.settings"),  admin_settings_path
            %li.alone= link_to t("admin.menu.gohomepage"), root_url
    #sub_nav_wrap
      #sub_nav= render :partial => "subnav"
    
    #content_wrapper
      - flash.each do |key, value|
        - content_tag(:div, :class=> "flash_#{key}") do
          = value
      = @content_for_layout
                            
    #footer
      %p © Copyright 2009 | www.beibeigan.com