!!! Strict
%html{ html_attrs("en_us") }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Wines Site
    %link{:href => "/stylesheets/bbg.css",:rel=>"stylesheet",:media=>"screen",:type=>"text/css"}/
    %script{:type =>"text/"+"javascript",:src=> "/javascripts/jquery.js"}
    %script{:type =>"text/"+"javascript",:src=> "/javascripts/bbg_v1.js"}
    = yield :js
    = yield :css
  %body
    #hd
    
      #top.wrapper.clearfix
        .logo= link_to image_tag('toplogo.gif', :width => 87, :height => 30), '/'
        .help
          %ul
            %li= link_to '帮助','#'
            
      #navs.wrapper
        %ul.clearfix
          - tabs_tag(:builder => MenuTabBuilder) do |tab|
            = tab.index   image_tag('nav_index.png'),'/'
            = tab.wiki    image_tag('nav_wiki.png'),'/wikis'
            = tab.catalog image_tag('nav_catalog.png'),'/catalogs'
            = tab.shop    image_tag('nav_shop.png'),'/shops'
            = tab.forum    image_tag('nav_forum.png'),'/forums'
            = tab.bid     image_tag('nav_bid.png'),'/bids'
            
      #my.wrapper.clearfix
        %ul.status{:id=>'sMember'}
          %li= link_to image_tag('login.gif', :width => 45, :height => 22), login_url
          %li= link_to '(&nbsp;注册', signup_url
          %li= "|"
          %li= link_to '忘记密码&nbsp;)', signup_url
        %ul.links{:id=>'sMenu'}
          %li= link_to '我的收藏夹', '#'
          %li= link_to '我的消息', '#'
          %li= link_to '我的好友', '#'
          %li= link_to '我的购物记录', '#'
          %li.cart= link_to image_tag('cart.gif'), '#'
          
    #container.wrapper.clearfix
      - content_tag(:div, :id => "flash") do
        - flash.each do |key, value|
          - content_tag(:div, :class=> "flash_#{key}") do
            = value
      = @content_for_layout
      
    #ft.wrapper
      %ul
        %li{:class => 'footliStart'}= link_to '购物保障', '#'
        %li= link_to '服务条款', '#'
        %li= link_to '安全说明', '#'
        %li= link_to '隐私声明', '#'
        %li= link_to 'CopyRight @ 2009 beibeigan.com', '/'