!!! Strict
%html{ html_attrs("en_us") }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Wines Site
    %link{:href => "/stylesheets/reset.css",:rel=>"stylesheet",:media=>"screen",:type=>"text/css"}/
    %link{:href => "/stylesheets/layout.css",:rel=>"stylesheet",:media=>"screen",:type=>"text/css"}/
    %link{:href => "/stylesheets/bbg_v1.css",:rel=>"stylesheet",:media=>"screen",:type=>"text/css"}/
    %script{:type =>"text/"+"javascript",:src=> "/javascripts/jquery.js"}= yield :js
    %script{:type =>"text/"+"javascript",:src=> "/javascripts/bbg_v1.js"}= yield :css
  %body
    #header
      .wrapper
        #logo-wrap
          %a.hide-text{:id => 'logo', :href => '/'}杯杯干
          %a{:id => 'nav-help', :href => '/faq'}帮助
        #navigation
          %ul.clearfix
            - tabs_tag(:builder => MenuTabBuilder) do |tab|
              = tab.home    '首页',    '/' 
              = tab.catalog '酒品目录',  '/catalogs'
              = tab.wiki    '酒品百科',  '/wikis'
              = tab.shop    '网络商城',  '/shops'
              = tab.forum   '电子社区',  '/forums'
              = tab.bid     '拍卖',    '/bids'
        #my= render :partial => 'users/bar'
    
    #container.wrapper.clearfix
      - content_tag(:div, :id => "flash") do
        - flash.each do |key, value|
          - content_tag(:div, :class=> "flash_#{key}") do
            = value
      = @content_for_layout
      
    #ft.wrapper
      %ul
        %li.start= link_to '购物保障', '#'
        %li= link_to '服务条款', '#'
        %li= link_to '安全说明', '#'
        %li= link_to '隐私声明', '#'
        %li= 'Copyright @ 2009 BeiBeiGan.com'