!!! Strict
%html{ html_attrs("en_us") }
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "content-type"}/
    %title Wines Site
    %link{:href => "/stylesheets/bbg_v1.css",:rel=>"stylesheet",:media=>"screen",:type=>"text/css"}/
    %script{:type =>"text/"+"javascript",:src=> "/javascripts/jquery.js"}
    %script{:type =>"text/"+"javascript",:src=> "/javascripts/bbg_v1.js"}
    = yield :js
    = yield :css
  %body
    #hd
      #top.wrapper.clearfix
        .logo= image_tag('toplogo.gif', :width => 87, :height => 30)
        .help
          %ul
            %li= link_to '帮助','#'
            %li= link_to 'Q&A','#'
            %li= link_to image_tag('gs.gif'),'#'
      #navs.wrapper
        %ul.clearfix
          %li{}= link_to image_tag('navs/head_index_tab.gif'),'#'
          %li{}= link_to image_tag('navs/head_catalog.gif'),'#'
          %li{}= link_to image_tag('navs/head_wiki.gif'),'#'
          %li{}= link_to image_tag('navs/head_shop.gif'),'#'
          %li{}= link_to image_tag('navs/head_club.gif'),'#'
          %li{}= link_to image_tag('navs/head_bid.gif'),'#'
      #my.wrapper.clearfix
        %ul.status{:id=>'sMember'}
          %li= link_to image_tag('login.gif', :width => 45, :height => 22), '#'
          %li= link_to '(&nbsp;注册', signup_url
          %li= "|"
          %li= link_to '忘记密码&nbsp;)', signup_url
        %ul.links{:id=>'sMenu'}
          %li= link_to '我的收藏夹', '#'
          %li= link_to '我的消息', '#'
          %li= link_to '我的好友', '#'
          %li= link_to '我的购物记录', '#'
          %li.cart= link_to image_tag('cart.gif'), '#'
    #container.wrapper
      - content_tag(:div, :id => "flash") do
        - flash.each do |key, value|
          - content_tag(:div, :class=> "flash_#{key}") do
            = value
      = @content_for_layout
    #ft.wrapper
      %ul
        %li{:class => 'footliStart'}= link_to '购物保障', '#'
        %li= link_to '服务条款', '#'
        %li= link_to '安全说明', '#'
        %li= link_to '隐私声明', '#'
        %li= link_to 'CopyRight @ 2009 beibeigan.com', '/'